.item-text-content {
  margin-top: 15px;
}

.comboBox {
  width: 800px;
  height: max-content;
  background-color: var(--cinza-header);
  border-radius: 11px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
}

.comboBox h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 11px;
  height: 40px;
}

.comboItensBox {
  width: 670px;
  min-height: 120px;
  background-color: var(--cinza-claro-padrao);
  border-radius: 11px;
  color: aliceblue;
  margin-top: 36px;
  padding: 15px;
  margin-bottom: 25px;
}

.comboItensBox h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--amarelo-padrao);
}

.comboItensBox p {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .comboBox {
    width: 90vw;
  }
  .comboItensBox {
    width: 75vw;
  }
}
